<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" [routerLink]="['new']" routerLinkActive="router-link-active" >New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12" *ngIf="!technicalError">
    <!-- lista di ricette item -->
    <ng-container *ngIf="isAuthenticated; else please_login">
      <app-recipe-item *ngFor="let x of recipes; let i = index" [recipe]="x" [index]="i"></app-recipe-item>
    </ng-container>
    <ng-template #please_login>
      <h2>Please login!</h2>
    </ng-template>
    <br><br><br>
  </div>
  <div class="col-xs-12" *ngIf="technicalError">
    <h4>A technical error occurred! Try again later :(</h4>
  </div>
</div>